.gmap {
  width: 50%;
  height: 300px;
  box-sizing: border-box;
  border: 10px solid black;
}

.youtube {
  /* 560 * 315 */
  width: 800px;
  height: 450px;
}

.video {
  width: 800px;
  height: 450px;
}

.video-container {
  position: relative;
  width: 70%;
  max-width: 600px;
  /* height: 300px; */
  margin: 30px auto;
  border: 1px solid red;
}

.video-container::before {
  content: '';
  display: block;
  width: 100%;
  background: #eee;
  padding-top: 56.25%;
  /* padding-top을 주면 부모 video-container의 width의 반절이다. */
  /* 유튜브 비율 56.25% // 560 * 315*/
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.box1 {
  /* 
  화면 넓이의 반절 <=== 400px 이하에서 화면넓이의 반절
  21 : 9 비율을 유지하는 박스를 만들어주세요.
  */
  position: relative;
  width: 50%;
  max-width: 400%;
  margin: 30px auto;
  border: 1px solid red;
}

.box1::before {
  content: '';
  display: block;
  padding-top: 42.857%;
}

.box1 div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: green;
}
